:root {
  --font-color: #fff;
  --primary-color: #00a6ff;
  --border-color: hsla(230, 1%, 38%, 1);
  --background-color: #242424;
  --border-radius: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #242424;
  overflow: hidden;
  user-select: none;
  
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.1s ease-out;
  color: var(--font-color);
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 270px;
  margin: 0 auto;
  background-color: #25262A;
  border-radius: var(--border-radius);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header, .modal-body {
  padding: 20px 30px 0 30px;
  text-align: center;
  
}

.modal-header {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.modal-body {
  padding: 10px 30px 20px 30px;
  font-size: 13px;
  border-bottom: 1px solid var(--border-color); /* Updated to a thin border */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.modal-footer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
}

.modal-default-button,
.modal-shutdown-button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
  padding: 15px 0;
  border-right: 1px solid var(--border-color); /* Updated to a thin border */
  outline: none;
}

.modal-default-button:hover,
.modal-shutdown-button:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
}

.modal-default-button:last-child,
.modal-shutdown-button:last-child {
  border-right: none;
  border-bottom-right-radius: var(--border-radius);
}

.modal-default-button:first-child,
.modal-shutdown-button:first-child {
  border-bottom-left-radius: var(--border-radius);
}

.modal-default-button {
  color: #ff2216; /* Red text color for shutdown button */
}

.fast-shutdown {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  
  background-color: #fff;
  color: #000;
  text-decoration: none; 
  border: 1px solid var(--border-color);
}


